.steps li { display: inline-block; list-style: none;  }
.steps li a { display: inline-block; width: 50px; height: 50px; line-height: 50px; text-align: center; background: #333; color: #fff; border-radius: 50%; }
.steps li.active a { background: #41c2cd; }